<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title> MMU Match Chat </title>
    </head>
    <header style="justify-content: center;">
        <div>MMU Match Chat</div>
    </header>
    <body>
        <div class="chat-background-div">
            <div class="avatar" style="display: flex; background-color: #990000; padding: 1vh;">
                {% if user1.user_id == session.get("user_id") %}
                <img src="{{url_for('static', filename='avatar' ~ user2.avatar_type ~ '.png')}}" alt="avatar" style="width: 60px; height: 60px;">
                {% else %}
                <img src="{{url_for('static', filename='avatar' ~ user1.avatar_type ~ '.png')}}" alt="avatar" style="width: 60px; height: 60px;">
                {% endif %}

                {% if user1.user_id == session.get("user_id") %}
                <p class="user-info-div">{{ user2.degree_name }} in {{ user2.faculty_name }} at {{ user2.campus_name }}</p>
                {% else %}
                <p class="user-info-div">{{ user1.degree_name }} in {{ user1.faculty_name }} at {{ user1.campus_name }}</p>
                {% endif %}
            </div>

            <div id="chat-box" class="chat-box-div"></div>

            <div class="chat-input-div">
                <textarea id="messageInput" placeholder="Type a message..." rows="1" class="chat-text-area"></textarea>
        
                <button id="sendButton" class="chat-send-button" type="button">Send</button>
            </div>
        </div>
        <div style="text-align: center; margin-top: 7vh;">
            <button id="leaveButton" class="chat-leave-button"style="margin-bottom: 5vh;">Leave room</button>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>  
        <script type="text/javascript" charset="utf-8">   //initial socketio, from official website
            const socket = io(); 
            socket.on('connect', function() { 
                socket.emit('my event', {data: 'I\'m connected!'}); 
            });
        </script>
        <script>
            document.addEventListener("DOMContentLoaded", () => {
                const input = document.getElementById("messageInput");
                const chatBox = document.getElementById("chat-box");

                const user_id = "{{ session.get('user_id') }}";
                const room_name = "{{ room_name }}";

                document.getElementById("sendButton").addEventListener("click", () => {
                    const message = input.value.trim();
                    if (message) {
                        socket.emit("message", {message: message , room_name: room_name, user_id: user_id});
                        input.value = "";
                    }
                });

                socket.on("print_message", function(data) {
                    const p = document.createElement("p");
                    p.textContent = data.message;
                    chatBox.appendChild(p);

                    if (data.sender_id == user_id) {
                        p.classList.add("chat-content-self");
                    } else {
                        p.classList.add("chat-content-other");
                    }

                    chatBox.scrollTop = chatBox.scrollHeight; 
                });

                document.getElementById("leaveButton").addEventListener("click", () => {
                    socket.emit("you_leave_room", { room_name: room_name });
                });

                socket.on("other_user_leave", function(data) {
                    alert(`User has left the room.`);
                    socket.emit("other_leave_room", { room_name: room_name });
                    window.location.href = "{{ url_for('main.homepage', _external=True) }}";
                });

                socket.on("you_leave_room", function() {
                    window.location.href = "{{ url_for('main.homepage', _external=True) }}";
                });
            });
        </script>
    </body>