<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MMU SOUL</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="title">MMU SOUL</div>
        <nav>
            <ul>
                <li><a href="{{ url_for('forum.homepage') }}">Forum</a></li>
                <li><a href="{{ url_for('main.match_chat') }}">Match Chat</a></li>
                <li><a href="{{ url_for('bottle.DriftingBottle') }}">Drifting Bottle</a></li>
                <li><a href="{{ url_for('profile.profile') }}">Profile</a></li>
                <li>
                {% if 'user_id' in session %}
                <span style="color: rgba(35, 35, 255, 0.811); font-weight: bold;">Welcome</span>
                {% else %}
                <a href="{{ url_for('login.home') }}" class="homepage-login">Login</a>
                {% endif %}
                </li>
            </ul>
        </nav>
    </header>

    <div class="hero">
        <h1 class="slogan-line">
            <span class="red">Connect</span> 
            <span class="blue">Anonymously</span><br>
            <span class="blue">Discover</span> 
            <span class="red">Unexpectedly</span>
        </h1>
        <p class="hero-desc">
            Where MMU soul meet? Forum, Chat & Drift ...<br>
            Your voice, your match, your message in a Bottle.
        </p>
    </div>

    <main>
        <section class="events">
            <h2>Upcoming Events</h2>
            <div class="card-container">
                {% for event in events %}
                <div class="card">
                    <h3>{{ event.title }}</h3>
                    <p><strong>Date:</strong> {{ event.date }}</p>
                    <p>{{ event.description }}</p>
                </div>
                {% endfor %}
            </div>
        </section>

        <section class="announcements">
            <h2>Announcements</h2>
            <div class="card-container">
                {% for ann in announcements %}
                <div class="card">
                    <h3>{{ ann.title }}</h3>
                    <p><strong>Date:</strong> {{ ann.date }}</p>
                    <p>{{ ann.description }}</p>
                </div>
                {% endfor %}
            </div>
        </section>
    </main>
</body>
</html>