<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MMU SOUL</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <div class="title">MMU SOUL</div>
        <nav>
            <ul>
                <li><a href="{{ url_for('forum.homepage') }}">Forum</a></li>
                <li><a href="{{ url_for('main.match_chat') }}">Match Chat</a></li>
                <li><a href="{{ url_for('bottle.DriftingBottle') }}">Drifting Bottle</a></li>
                <li><a href="{{ url_for('profile.profile') }}">Profile</a></li>
                <li>
                {% if 'user_id' in session %}
                <span style="color: rgba(35, 35, 255, 0.811); font-weight: bold;">Welcome</span>
                {% else %}
                <a href="{{ url_for('login.home') }}" class="homepage-login">Login</a>
                {% endif %}
                </li>
            </ul>
        </nav>
    </header>

    <div class="hero">
        <h1 class="slogan-line">
            <span class="red">Connect</span> 
             <span class="blue">Anonymously</span><br>
            <span class="blue">Discover</span> 
            <span class="red">Unexpectedly</span>
        </h1>
        <p class="hero-desc">
            Where MMU soul meet? Forum, Chat & Drift ...<br>
            Your voice, your match, your message in a Bottle.
        </p>
    </div>

        <section class="announcements section">
            <h2>Announcements</h2>
            <div class="announcement-item">
                <img src="{{ url_for('static', filename='exam.jpeg') }}" alt="Exam Announcement">
                <div class="announcement-text">
                    <h3>Orientation Week</h3>
                    <p>Orientation Week starts next Monday, don’t miss it!</p>
                </div>
            </div>

            <div class="announcement-item">
                <img src="{{ url_for('static', filename='mmu_win.jpg') }}" alt="MMU Wins Announcement">
                <div class="announcement-text">
                    <h3>Exam Timetable</h3>
                    <p>Final exam timetable has been released. Please check portal.</p>
                </div>
            </div>
        </section>

        <section class="school-map section">
            <h2>School Map</h2>
            <div class="map-container">
                <div class="map-item">
                    <h3>Cyberjaya Campus</h3>
                    <img src="{{ url_for('static', filename='mmu_cyberjaya_map.jpg') }}" alt="Cyberjaya Campus">
                </div>
            <div class="map-item">
                <h3>Melaka Campus</h3>
                <img src="{{ url_for('static', filename='mmu_melaka_map.jpg') }}" alt="Melaka Campus">
                </div>
            </div>
        </section>

        <section class="notifications">
            <h2>Campus Tips</h2>
            <ul>
                <li> Keep attendance always ≥ 80% </li>
                <li> Do not help your friends to take attendance! </li>
                <li> Follow class schedules strictly </li>
            </ul>
        </section>

        <section class="events section">
            <h2>Upcoming Events</h2>
            <div class="card-container">
                <div class="card past" style="background-color:#e3f2fd;">
                    <img src="{{ url_for('static', filename='huawei_connected.jpg') }}" alt="Huawei Connected Campus" style="width:100%; border-radius:10px;">
                    <h3>Huawei Connected Campus 2025</h3>
                    <p><strong>Date:</strong> 2025-08-25</p>
                    <p>Explore Huawei technologies and campus connections.</p>
                </div>

                <div class="card past" style="background-color:#ffffff;">
                    <img src="{{ url_for('static', filename='orkestra_malaysia.jpg') }}" alt="Orkestra Traditional Malaysia" style="width:100%; border-radius:10px;">
                    <h3>Orkestra Traditional Malaysia</h3>
                    <p><strong>Date:</strong> 2025-08-27</p>
                    <p>Experience traditional Malaysian orchestra performances.</p>
                </div>

                <div class="card current" style="background-color:#e3f2fd;">
                    <img src="{{ url_for('static', filename='infoday.jpg') }}" alt="Infoday" style="width:100%; border-radius:10px;">
                    <h3>Infoday</h3>
                    <p><strong>Date:</strong> 2025-10-04 to 2025-10-05</p>
                    <p>Campus info day for prospective students and families.</p>
                </div>

                <div class="card upcoming" style="background-color:#ffffff;">
                    <img src="{{ url_for('static', filename='science_castle_asia.jpg') }}" alt="Science Castle Asia" style="width:100%; border-radius:10px;">
                    <h3>Science Castle Asia</h3>
                    <p><strong>Date:</strong> 2025-10-18 to 2025-10-19</p>
                    <p>Explore science innovations and exhibitions from Asia.</p>
                </div>

                <div class="card upcoming" style="background-color:#e3f2fd;">
                    <img src="{{ url_for('static', filename='backmmu.jpg') }}" alt="Come back campus!" style="width:100%; border-radius:10px;">
                    <h3>New Semester</h3>
                    <p><strong>Date:</strong> 2025-11-04</p>
                    <p>Start of the new semester after the sembreak.</p>
                </div>
            </div>
        </section>


            <section class="MMU Links">
                <h2>MMU Official Links</h2>
                <div class="link_container">
                    <a href="https://ebwise.mmu.edu.my" target="_blank">Ebwise</a>
                    <a href="https://clic.mmu.edu.my" target="_blank">Clic MMU</a>
                    <a href="https://www.mmu.edu.my" target="_blank">MMU Website</a>
                </div>
        </section>
    </main>
</body>
</html>