<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>MMU Drifting Bottle</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>🎓 MMU Drifting Bottle</header>
    <main>
        <!-- throw bottle -->
        <div class="section">
            <h2>Throw a Bottle</h2>
            <form action="{{ url_for('throw') }}" method="post">
                <textarea name="content" rows="4" placeholder="Write your message..." required></textarea><br>
                <button type="submit">Throw it to the sea</button>
            </form>
            <p class="info">There are {{ unpicked_count }} bottles floating in the sea 🌊</p>
        </div>

        <!-- pick bottle -->
        <div class="section">
            <h2>Pick a Bottle</h2>
            <form action="{{ url_for('pick') }}" method="get">
                <button type="submit">Pick a bottle right now</button>
            </form>
            <p class="info">There are {{ unpicked_count }} bottles floating in the sea 🌊</p>
        </div>
    </main>
</body>
</html>
