<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Please Login</title>
    <link rel="icon" href="/static/.png" type="image/png">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <main>
        <div class="section" style="margin-top: 15vh;">
        <h1>Login to MMU Soul!</h1>
        <form action="">
            <label for="email" class="login_label">Email: </label>
            <input class="input_column" placeholder="Write your email..." type="email" id="email" name="email" required style="margin-left: 10px;">
            <br><br>
            <label for="password" class="login_label" style="margin-right: 10px;">Password: </label>
            <input class="input_column" placeholder="Write your password..." type="password" id="password" name="password" required>
            <br><br><br>
            <b>Haven't have an account? </b><a href="{{ url_for('login.register') }}" class="register_a">Register here!</a>
            <br><br>
        </div>
    </main>
</body>