<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title> MY PROFILE </title>
    </head>
    <header>
        <div>MY PROFILE</div>
        <nav>
            <ul>
                <li><a href="{{ url_for('forum.homepage') }}">Forum</a></li>
                <li><a href="{{ url_for('main.match_chat') }}">Match Chat</a></li>
                <li><a href="{{ url_for('bottle.DriftingBottle') }}">Drifting Bottle</a></li>
                <li><a href="{{ url_for('profile.myProfile') }}">Profile</a></li>
                <li>
                {% if 'user_id' in session %}
                <span style="color: rgb(237, 27, 27); font-weight: bold;">Welcome</span>
                {% else %}
                <a href="{{ url_for('login.home') }}" class="homepage-login">Login</a>
                {% endif %}
                </li>
            </ul>
        </nav>
    </header>
    <body>
        <div class="profile-card" style="min-height: 50vh;" id="profile-view">
            <div class="profile-tab">
                <a href="{{url_for('profile.myProfile')}}" class="profile-button">My Profile</a>
                <a href="{{url_for('profile.profile')}}" class="profile-button">History</a>
                <a href="{{url_for('profile.settings')}}" class="profile-button">Settings</a>
            </div>
            <div class="avatar">
            <img src="{{url_for('static', filename='avatar' ~ myprofile_data.avatar_type ~ '.png')}}" alt="avatar">
            </div>
            <div class="profile-section">
                <h3>Email adress: </h3>
                <ul>
                    <li>{{user.email}}</li>
                </ul>
            </div>
            <div class="profile-section">
                <h3>Student Information: </h3>
                <ul>
                    <li>
                        <label class="login_label">Campus: </label>{{myprofile_data.campus_name}} <br>
                        <label class="login_label">Degree: </label>{{myprofile_data.degree_name}} <br>
                        <label class="login_label">Faculty: </label>{{myprofile_data.faculty_name}} <br>

                    </li>
                </ul>
            </div>
            <br><br><br><br><br>
            <button type="button" onclick="toggleEdit()">Edit Profile</button>
        </div>

        <div class="profile-card" id="profile-edit" style="display: none;">
            <div class="profile-tab">
                <a href="{{url_for('profile.myProfile')}}" class="profile-button">My Profile</a>
                <a href="{{url_for('profile.profile')}}" class="profile-button">History</a>
                <a href="{{url_for('profile.settings')}}" class="profile-button">Settings</a>
            </div>
            <form action="{{url_for('profile.myProfile')}}" method="POST">
                <div class="avatar">
                    <input type="radio" name="avatar_type" value="1" {% if myprofile_data.avatar_type == 1 %}checked{% endif %}>
                    <img src="{{ url_for('static', filename='avatar1.png') }}" alt="Avatar 1" class="avatar-img">
                    <input type="radio" name="avatar_type" value="2" {% if myprofile_data.avatar_type == 2 %}checked{% endif %}>
                    <img src="{{ url_for('static', filename='avatar2.png') }}" alt="Avatar 2" class="avatar-img">
                    <input type="radio" name="avatar_type" value="3" {% if myprofile_data.avatar_type == 3 %}checked{% endif %}>
                    <img src="{{ url_for('static', filename='avatar3.png') }}" alt="Avatar 3" class="avatar-img">
                    <input type="radio" name="avatar_type" value="4" {% if myprofile_data.avatar_type == 4 %}checked{% endif %}>
                    <img src="{{ url_for('static', filename='avatar4.png') }}" alt="Avatar 4" class="avatar-img">
                    <input type="radio" name="avatar_type" value="5" {% if myprofile_data.avatar_type == 5 %}checked{% endif %}>
                    <img src="{{ url_for('static', filename='avatar5.png') }}" alt="Avatar 5" class="avatar-img">
                    <input type="radio" name="avatar_type" value="6" {% if myprofile_data.avatar_type == 6 %}checked{% endif %}>
                    <img src="{{ url_for('static', filename='avatar6.png') }}" alt="Avatar 6" class="avatar-img">
                    <input type="radio" name="avatar_type" value="7" {% if myprofile_data.avatar_type == 7 %}checked{% endif %}>
                    <img src="{{ url_for('static', filename='avatar7.png') }}" alt="Avatar 7" class="avatar-img">
                    <input type="radio" name="avatar_type" value="8" {% if myprofile_data.avatar_type == 8 %}checked{% endif %}>
                    <img src="{{ url_for('static', filename='avatar8.png') }}" alt="Avatar 8" class="avatar-img">
                    <input type="radio" name="avatar_type" value="0" {% if myprofile_data.avatar_type == 0 %}checked{% endif %}>
                    <img src="{{ url_for('static', filename='avatar0.png') }}" alt="Avatar 0" class="avatar-img">
                </div>

                <div class="profile-section">
                    <h3>Email adress: </h3>
                <ul>
                    <li>{{user.email}}</li>
                </ul>
                </div>

                <div class="profile-section">
                    <h3>Student Information: </h3>
                    <ul><li>
                        <label for="campus" class="login_label">Campus: </label>
                        <select name="campus" id="campus">
                            <option value="Cyberjaya" {% if myprofile_data.campus_name == 'Cyberjaya' %}selected{% endif %}>Cyberjaya</option>
                            <option value="Melaka" {% if myprofile_data.campus_name == 'Melaka' %}selected{% endif %}>Melaka</option>
                        </select>
                        <label for="degree" class="login_label">Degree: </label>
                        <select name="degree" id="degree">
                            <option value="Foundation" {% if myprofile_data.degree_name == 'Foundation' %}selected{% endif %}>Foundation</option>
                            <option value="Diploma" {% if myprofile_data.degree_name == 'Diploma' %}selected{% endif %}>Diploma</option>
                            <option value="Bachelor" {% if myprofile_data.degree_name == 'Bachelor' %}selected{% endif %}>Bachelor</option>
                            <option value="Master" {% if myprofile_data.degree_name == 'Master' %}selected{% endif %}>Master</option>
                            <option value="Doctor" {% if myprofile_data.degree_name == 'Doctor' %}selected{% endif %}>Doctor</option>
                        </select>
                        <label for="faculty" class="login_label">Faculty: </label>
                        <select name="faculty" id="faculty">
                            <option value="FCA" {% if myprofile_data.faculty_name == 'FCA' %}selected{% endif %}>Faculty of Cinematic Arts (FCA)</option>
                            <option value="FOL" {% if myprofile_data.faculty_name == 'FOL' %}selected{% endif %}>Faculty of Law (FOL)</option>
                            <option value="FET" {% if myprofile_data.faculty_name == 'FET' %}selected{% endif %}>Faculty of Engineering & Technology (FET)</option>
                            <option value="FAIE" {% if myprofile_data.faculty_name == 'FAIE' %}selected{% endif %}>Faculty of Artificial Intelligence & Engineering (FAIE)</option>
                            <option value="FCI" {% if myprofile_data.faculty_name == 'FCI' %}selected{% endif %}>Faculty of Computing & Informatics (FCI)</option>
                            <option value="ODL" {% if myprofile_data.faculty_name == 'ODL' %}selected{% endif %}>Open and Distance Learing (ODL)</option>
                            <option value="FIST" {% if myprofile_data.faculty_name == 'FIST' %}selected{% endif %}>Faculty of Information Science & Technology (FIST)</option>
                            <option value="FOM" {% if myprofile_data.faculty_name == 'FOM' %}selected{% endif %}>Faculty of Managemnet (FOM)</option>
                            <option value="FCM" {% if myprofile_data.faculty_name == 'FCM' %}selected{% endif %}>Faculty of Creative Multimedia (FCM)</option>
                            <option value="FAC" {% if myprofile_data.faculty_name == 'FAC' %}selected{% endif %}>Faculty of Applied Communication (FAC)</option>
                            <option value="FOB" {% if myprofile_data.faculty_name == 'FOB' %}selected{% endif %}>Faculty of Business (FOB)</option>
                        </select>
                    </li></ul>
                </div>
                <button type="button" onclick="toggleEdit()">Cancel</button>
                <button type="submit">Save</button>
            </form>
        </div>

        <script>  /*gpt generated, but i understand how it work*/
        function toggleEdit() {
            let view = document.getElementById("profile-view");
            let edit = document.getElementById("profile-edit");
            if (view.style.display === "none") {
                view.style.display = "block";
                edit.style.display = "none";
            } else {
                view.style.display = "none";
                edit.style.display = "block";
            }
        }
        </script>
    </body> 