<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Let’s see what is inside the bottle!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
        <header>
            <div>
            <a href="{{url_for('main.homepage')}}" class="header-back-home-a">
                <img src="{{url_for('static', filename='ebeemmu.png')}}" alt="logo" width="150" height="105" style="margin-left: 10px;">
            </a>
            <div class="header-back-home-text">Back</div>
            </div>
            <div class="title">You got a Bottle!</div>
            <nav>
                <ul>
                    <li><a href="{{ url_for('forum.homepage') }}">Forum</a></li>
                    <li><a href="{{ url_for('MatchChat.home') }}">Match Chat</a></li>
                    <li><a href="{{ url_for('bottle.DriftingBottle') }}">Drifting Bottle</a></li>
                    <li><a href="{{ url_for('profile.myProfile') }}">Profile</a></li>
                    <li class="welcome-info">
                        {% if 'user_id' in session %}
                        <span style="color: rgb(255, 255, 255); font-weight: bold;">Welcome</span>
                        {% else %}
                        <a href="{{ url_for('login.home') }}" class="homepage-login">Login</a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </header>
    
    <main>
    <div class="bottle-container">
        <video autoplay loop muted playsinline class="bottle-video">
            <source src="{{ url_for('static', filename='bottle_bg.mp4') }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>

        <audio id ="ocean" autoplay loop hidden>
            <source src="{{ url_for('static', filename='ocean.mp3') }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>

        {% if bottle %}
            <div class="bottle-wrapper">
                <div class="bottle_content">
                    {% if bottle.content %}
                        <p>{{ bottle.content }}</p>
                    {% endif %}

                    {% if bottle.file_path %}
                        {% if bottle.file_type == 'image' %}
                            <img src="{{ url_for('static', filename=bottle.file_path) }}" alt="Bottle Image" style="max-width: 400px;">
                        {% elif bottle.file_type == 'audio' %}
                            <audio controls>
                               <source src="{{ url_for('static', filename=bottle.file_path) }}">
                               Your browser does not support the audio element.
                            </audio>
                        {% elif bottle.file_type == 'video' %}
                            <video controls style="max-width:100%;">
                                <source src="{{ url_for('static', filename=bottle.file_path) }}">
                                Your browser does not support the video tag.
                            </video>
                        {% endif %}
                    {% endif %}
                </div>

                <div class="bottle-footer">
                    <a href="{{ url_for('bottle.DriftingBottle') }}">Back to homepage</a>
                </div>
            </div>

        {% else %}
            <div class="bottle-empty">
                <p>The sea is still empty...🌊</p>
                <a href="{{ url_for('bottle.DriftingBottle') }}">Back to homepage</a>
            </div>
        {% endif %}
    </main>

    <script>
        const audio = document.getElementById('ocean');
        if (audio){
        audio.volumn = 0.28;
        }
    </script>
</body>
</html>