<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Now!</title>
    <link rel="icon" href="/static/.png" type="image/png">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <main>
    <div class="section" style="margin-top: 15vh;">
    <h1>Register for an MMU Soul account!</h1>
    <form action="">
        <label for="email" class="login_label">Email: </label>
        <input class="input_column" placeholder="Write your email prefix..." type="email" id="email" name="email" required style="margin-left: 10px;">
        <span style="margin-left: 4px; font-weight: bold;">@student.mmu.edu.my</span>
        <br><br>
        <label for="password" class="login_label" style="margin-right: 10px; margin-left: -185px;">Password: </label>
        <input class="input_column" placeholder="Write your password..." type="password" id="password" name="password" required>
        <br><br><br>
    </div>
    </main>
</body>