<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register now</title>
    <link rel="icon" href="/static/.png" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='login_register.css') }}">
</head>
<body>
    <div class="login-form">
        <h1 class="login-title">Register for MMU Soul!</h1>
        <form action="{{ url_for('login.register') }}" method="POST">
            <div class="input-box">
                <input type="text" name="email" placeholder="Email prefix..." required>
                <span style="font-weight:bold; margin-left:5px;">@student.mmu.edu.my</span>
            </div>

            <div class="input-box">
                <input type="password" name="password" placeholder="Password..." required>
            </div>

            {% for msg in get_flashed_messages() %}
            <p style="color:red; font-weight:bold;">{{ msg }}</p>
            {% endfor %}

            <button type="submit" class="login-btn">Register</button>
        </form>

        <div class="register">
            Already have an account? <a href="{{ url_for('login.home') }}">Log in here!</a>
        </div>
    </div>
</body>
</html>
