<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        <title>{% block title%} MMU SOUL {% endblock %}</title>
    </head>
    <body>
        <header class="site-header">
            <div class="container header-inner">
                <a class="brand" href="{{url_for('forum.index')}}">MMU SOUL</a>
                <nav class="nav">
                    <a class="btn btn-primary" href="{{url_for('forum.create_post')}}">+ Create Post</a>
                </nav>
            </div>
        </header>
    </body>
</html>