body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #e6f0ff;
    color: #003366;
    margin: 0;
    padding: 0;
}

/*Header*/
header {
    background-color: #0d47a1;
    color: white;
    padding: 35px 20px; 
    font-size: 2.5em; 
    font-weight: bold;
    text-align: center;
    position: relative;
}

header nav {
    position: absolute;
    top: 25px;
    right: 20px;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 0.3em; 
    font-weight: normal;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #ccdaff;
}

/*Slogan*/
.hero {
    text-align: center; 
    max-width: 1100px;
    margin: 48px auto 24px;
    padding: 0 24px;
}

.slogan-line{
  margin:.2em 0;
  line-height:1.15;
  font-weight:800;
  letter-spacing:.4px;
  font-size: clamp(28px, 5.2vw, 54px);
}

.slogan-line .red { color: #c62828; }   
.slogan-line .blue { color: #1565c0; }  

.hero-desc{
  margin:18px auto 8px;
  max-width:700px;
  color: #0d47a1;
  line-height:1.65;
  font-size:16px;
}

main {
    padding: 30px 20px;
    text-align: center;
}

/*General Section Style*/
.section {
    margin: 40px auto;
    max-width: 1100px;
    padding: 20px;
    background-color: #f0f7ff;
    border-radius: 15px;
    border: 2px solid #0044cc; 
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
    text-align: left;
}

h2 {
    color: #0044cc;
    margin-bottom: 20px;
    text-align: center;
}

/*Card Container*/
.card-container {
    display: inline-block;
    width:22%;
    margin:10px;
    padding:10px;
    gap: 20px;
    flex-wrap: wrap;
    vertical-align: top;
    justify-content: center;
}

.card {
    flex: 1 1 250px;
    background: #f9f9f9;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}

/*Announcements*/
.announcement-item {
    display: flex;
    align-items: center;
    background: #f0f8fe;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.announcement-item img {
    width: 120px;
    height: 90px;
    border-radius: 8px;
    margin-right: 15px;
}

.announcement-text h3 {
    margin: 0;
    color: #0044cc;
}

.announcement-text p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #333;
}

/*School Map*/
.map-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 20px;
    gap: 20px; 
    flex-wrap: nowrap; 
}

.map-item {
    width: 35%; 
    text-align: center;
}

.map-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
    max-height: 200px;
}

.map-link {
    display: inline-block;
    padding: 10px 20px;
    background: #0044cc;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    transition: background 0.3s;
}

.map-link:hover {
    background: #1565c0;
}

/*Campus Tips*/
.campus-tips {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.campus-tips .tip {
    flex: 1;
    background: #fff3e0;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    border:2px solid #0044cc
}

/*Notifications*/
.notifications {
    text-align: center;
    margin: 40px auto;
}

.notifications h2 {
    text-align: center;
    color: #0044cc;
    margin-bottom: 20px;
}

.notifications ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 600px;
}

.notifications ul li {
    position: relative;
    font-size: 16px;
    padding: 10px 15px 10px 20px;
    margin: 10px 0;
    background-color: #e3f2fd;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    text-align: center;
}

.notifications ul li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 6px;
    height: 100%;
    background-color: #1565c0;
    border-radius: 10px 0 0 10px;
}

/*Upcoming Events*/
.events {
    text-align: center;
    margin: 20px auto;
}

.events h2 {
    color: #0044cc;
    text-align: center;
    margin-bottom: 5px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
}

.card-container .card {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s, background-color 0.3s;
    text-align: center;
}

.card-container .card:nth-child(odd) {
    background-color: #e3f2fd;
}

.card-container .card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.events .card-container {
    position: relative;
    width: 100%;
    max-width: 1100px;
    height: 380px;   
    margin: 0 auto;
}

.events .card-container .card img {
    width: 100%;
    height: 330px;   
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card-container .card h3 {
    font-size: 1.1em;
    margin: 5px 0;
    color: #0044cc;
}

.card-container .card p {
    font-size: 0.9em;
    margin: 5px 0;
    color: #333;
}

.events .card-container {
    position: relative;
    width: 100%;
    max-width: 1100px;
    height: 400px;
    margin: 0 auto;
}

.events .card-container .card {
    position: absolute;
    bottom: 0;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
    height:360px;
}

.events .card-container .card:nth-child(1) {
    left: 0%;
    transform: scale(0.8);
    z-index: 1;
    width: 20%;
    background: #d6e6f7;
}
.events .card-container .card:nth-child(2) {
    left: 18%;
    transform: scale(0.85);
    z-index: 2;
    width: 20%;
    background: #bddcfa;
}
.events .card-container .card:nth-child(3) {
    left: 36%;
    transform: scale(1);
    z-index: 3;
    width: 20%;
    background: #c8e2fc;
}
.events .card-container .card:nth-child(4) {
    left: 54%;
    transform: scale(0.85);
    z-index: 2;
    width: 20%;
    background: #bddcfa;
}
.events .card-container .card:nth-child(5) {
    left: 72%;
    transform: scale(0.8);
    z-index: 1;
    width: 20%;
    background: #d6e6f7;
}

.events .card-container .card img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.events .card-container .card h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 8px 0 5px;
    color: #003366;
}

.events .card-container .card p.date {
    font-size: 14px;
    color: #555;
    margin: 0 0 8px;
}

.events .card-container .card p.desc {
    font-size: 15px;
    color: #222;
    line-height: 1.4;
}

/*MMU Links*/
.mmu-links {
    text-align: center;
    margin: 40px auto;
    max-width: 900px;
}

.link-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.link-item {
    text-align: center;
}

.link-item img {
    width: 50px;  
    height: 50px;
    border-radius: 50%; 
    object-fit: contain; 
    background: white;   
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: transform 0.3s;
}

.link-item img:hover {
    transform: scale(1.1);
}

.link-item p {
    margin-top: 8px;
    font-size: 14px;
    color: #0044cc;
    font-weight: bold;
}

/*Titles*/
h1, h2 {
    color: #0044cc;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

textarea, select {
    width: 95%; 
    font-size: 16px;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #0044cc;
    margin-top: 10px;
}

button {
    margin-top: 7px;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #990000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
    transition: all 0.2s ease;
}

button:hover {
    background-color: #cc0000;
    box-shadow: 0 8px 16px rgba(0,0,0,0.4);
}

/*Drifting Bottle Section Box*/
.section.drifting {
    background-color: #e6f5ff;
    border: 2px solid #0044cc; 
}

/*Info text*/
.info {
    margin-top: 10px;
    font-size: 14px;
    color: #003366;
}

/*Blockquote style*/
blockquote {
    font-size: 18px;
    background-color: #d9f0ff;
    padding: 15px;
    border-left: 5px solid #0044cc;
    display: inline-block;
    max-width: 80%;
    margin: 20px auto;
}

/*Links*/
a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #0044cc;
    font-weight: bold;
}

/*Input fields*/
.input_column {
    flex: 1;
    height: 20px;
    font-size: 16px;
    padding: 7px;
    border-radius: 10px;
    border: 2px solid #0044cc;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.input_column:hover {
    border-color: #000000;
}
.input_column:focus {
    box-shadow: 0 0 10px rgba(255,102,0,0.5); 
}

/*Registration link*/
.register_a { 
    color: blue; 
    text-decoration: none; 
    font-weight: bold;
}
.register_a:hover {
    color: #0099ff;
}

/*Login label*/
.login_label {
    display: inline-block;
    font-size: 20px; 
    font-weight: bold;
    width: 105px;
    text-align: left;
    white-space: nowrap;
}
.form-perform {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

/*Drifting bottle container with background image*/
.drifting-container {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    background: url('/static/sea_background.jpg') no-repeat center center;
    background-size: cover; /* Make image cover the container */
    padding: 20px;
    border-radius: 15px;
}

/*Individual drifting bottle*/
.drifting-bottle {
    background-color: rgba(224, 240, 255, 0.8); /* Semi-transparent for readability */
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
    margin-bottom: 20px;
    text-align: left;
}

/*Pick page container with same background*/
.pick-container {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    background: #e6f5ff; 
    padding: 20px;
    border-radius: 15px;
    border: 2px solid #0044cc; 
    text-align: center;
}

.pick-item {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 15px;
    border: 1.5px solid #0044cc;
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
    margin-bottom: 20px;
    text-align: left;
}

a {
    color: #0044cc;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #0099ff;
}

@media (max-width: 768px) {
    .section, .pick-container {
        max-width: 95%;
    }
    header nav ul li a {
        font-size: 0.8em;
    }
}

/*Profile*/
.profile-card{
    position: relative;
    max-width: 600px;
    margin: 2rem auto;
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: center;
}

.profile-tab{
    position: absolute;
    top: 10px;
    left: -135px;
    display: flex;
    flex-direction: column;
}

.avatar img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 1rem;
}

.profile-section {
    text-align: left;
    margin-top: 2rem;
}

.profile-section h3{
    border-bottom: 2px solid #ddd;
    padding-bottom: 0.5rem;
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

.ul li {
    padding: 0.5rem 0;
    border-bottom: 1px solid #eee;
}

.profile-button{
    padding: 13px 25px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #1d2ff7a9;
    border: none;
    border-radius: 10px 0 0 12px;
    cursor: pointer;
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
    transition: all 0.2s ease;
}

/*Homepage Login*/
.homepage-login {
    background-color: #68c3ff;
    height: 20px;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #000000;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/*Responsive*/
@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
    }
    header nav ul li a {
        font-size: 0.8em;
    }
}
      
/*Forum search*/
.search-section{
    background-color: #4673e5b8;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0,0,0,0.08);
    margin-top: 0.5rem;
}

.search-container{
    display: flex;
    gap: 0.5rem;
    max-width: 800px;
    margin: 0 auto;
}

.search-container input{
    flex: 1;
    padding: 0.8rem 1.2rem;
    border: 1px solid #363434;
    border-radius: 30px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
}

.search-container input:focus{
    border-color: #e0b7b7;
    box-shadow: 0 0 0 2px rgba(35, 42, 69, 0.2);
}

.search-container button {
    background: linear-gradient(135deg,#c6cff5 0%,#779be8 100%);
    color: white;
    border: none;
    border-radius: 30px;
    padding: 0.8rem 1.5rem;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.2s,box-shadow 0.2s;
}

.search-container button :hover{
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

/*forum page*/
.card-feed {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    padding: 20px;
    display: none;
}

.card-feed.active {
    display: grid;
}

.post-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.avatar {
    width: 40px;
    height: 40px;
    background: #3399ff;
    border-radius: 50%;
    margin-right: 10px;
}

.post-title {
    font-size: 1.2rem;
    margin: 0 0 8px 0;
}

.post-excerpt {
    flex-grow: 1;
    color: #555;
}

.post-actions {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.btn.blue-btn {
    background-color: #3399ff;
    color: #fff;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.details-btn {
    align-self: flex-end;
    color: #3399ff;
    text-decoration: none;
    font-weight: bold;
}

.timeline-feed {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
    display: none;
}

.timeline-feed.active {
    display: flex;
}

.timeline-item {
    display: flex;
    gap: 15px;
}

.timeline-date {
    width: 80px;
    font-size: 0.85rem;
    color: #888;
    text-align: right;
}

.timeline-content {
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    flex-grow: 1;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/*button for create post*/
.floating-btn{
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 70px;
    height: 70px;
    background: linear-gradient(135deg,#032ac6 0%,#5c79eb 100%);
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    font-size: 2rem;
    justify-content: center;
    box-shadow: 0 4px 20px rgba(107, 105, 108, 0.3);
    cursor: pointer;
    z-index: 1000;
    transition: all 0.3s ease;
    text-decoration: none;
}

.floating-btn:hover {
    transform: scale(1.1) ;
    box-shadow:0 6px 25px rgba(217, 221, 239, 0.5)
}

.floating-btn:active{
    transform: scale(0.95);
}

.tooltip {
    position: absolute;
    bottom: 85px;
    right: 10px;
    background: rgba(255, 254, 254, 0.8);
    color: black;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 0.9rem;
    opacity: 0;
    transition:opacity 0.3s;
    pointer-events: none;
    white-space: nowrap;
}

.floating-btn:hover .tooltip{
    opacity: 1;
}

/* create post*/
.back-btn{
    position: absolute;
    top: 20px;
    left: 20px;
    background: rgba(255,255,255,0.2);
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    backdrop-filter: blur(5px);
    z-index: 10;
}

.btn-btn:hover{
    background: rgba(255,255,255,0.3);
    transform: scale(1.05);
}

.form-card{
    width: 100%;
    max-width: 800px;
    background-color: white;
    border-radius: 0 0 20px 20px;
    padding: 40px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.15);
    margin-bottom: 30px;
}

.form-group{
    margin-bottom: 30px;
}

label{
    display: block;
    margin-bottom: 12px;
    font-weight: 500;
    color: rgb(34, 33, 33);
    font-size: 18px;
}

.file-upload{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dashed #9baddd;
    border-radius: 12px;
    padding: 30px 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.file-upload:hover{
    background-color: rgba(60, 37, 211, 0.05);
}

.file-upload input[type="file"]{
    display: none;
}

.upload-icon{
    font-size: 40px;
    color: #9baddd;
    margin-bottom: 10px;
}

.upload-text{
    color: #858585;
    font-weight: 500;
}

#file-input{
    display: none;
}

.preview-container{
    margin-top: 20px;
    display: none;
}

.media-preview{
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    object-fit: contain;
}

.form-actions{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.btn{
    padding: 14px 28px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-primary{
    background-color: #c2e1f6;
    color: white;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.btn-primary:hover{
    background-color: #7d93a2;
    transform: translateY(-2px);
}

.btn-secondary{
    background-color: #e0e0e0;
    color: #555;
}

.btn-secondary:hover{
    background-color: #d0d0d0;
}

@media (max-width:768px){
    .floating-btn{
        width: 60px;
        height: 60px;
        font-size: 1.7rem;
        bottom: 20px;
        right: 20px;
    }

    .tooltip{
        bottom: 75px;
        right: 5px;
    }
}

@media (max-width:650px){
    .back-btn{
        padding: 15px;
    }
    .form-card{
        padding: 30px 20px;
    }
    .form-actions{
        flex-direction: column;
        gap: 15px;
    }
    .btn{
        width: 100px;
    }
}

@media (max-width:400px){
    input,textarea{
        padding: 12px;
    }
    .file-upload{
        padding: 20px 15px;
    }
}